<%= turbo_page_requires_reload %>
<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% if user_signed_in? %>
      <div class="nav user">
        <p class="welcome-message">
          Welcome, <b><%= current_user.first_name %> <%= current_user.last_name %></b> Guru
        </p>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-button' %>
      </div>
    <% end %>

    <div class="content-wrapper">
      <%= yield %>
    </div>

    <footer>
      <%= render 'shared/footer' %>
    </footer>

  </body>
</html>
