<%= turbo_page_requires_reload %>
<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p>
  <% if @test_passage.success? %>
    <span class="test-result success">
      You have successfully passed the test with <%= @test_passage.percentage_of_correct_answers %>% correct answers.
    </span>
  <% else %>
    <span class="test-result failure">
      You did not pass the test. You got <%= @test_passage.percentage_of_correct_answers %>% correct answers.
    </span>
  <% end %>
</p>

<p><%= link_to 'Back to all tests', tests_path %></p>
